/vendor
/node_modules
### Laravel template
/bootstrap/compiled.php
/resources/components/
/public/css/
/public/js/
.env.*.php
.env.php
.env
*.iml
.idea/
Icon?
.DS_Store
.svn
nbproject
Thumbs.db
*.bak
*.sass-cache
*.komodoproject
*.sublime-project
vagrant/.vagrant
!.gitignore